{{if .flash.success}}
<div class="alert alert-success alert-dismissible fade show float-start w-100" role="alert">
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	{{raw .flash.success}}
</div>
{{end}}

{{if or .errors .flash.error}}
<div class="alert alert-danger alert-dismissible fade show float-start w-100" role="alert">
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	{{if .flash.error}}
		{{raw .flash.error}}
	{{end}}
	<ul style="margin-top:10px;">
		{{range .errors}}
			<li>{{raw .}}</li>
		{{end}}
	</ul>
</div>
{{end}}
