{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 offset-sm-2 offset-md-2 offset-lg-3">
                <form class="bs-validate p-4 p-md-5 rounded shadow-xs" method="post" action="/RegUser">
                    <input type="hidden" name="hash" value="{{.hash}}">
                    <div class="form-floating mb-3">
                        <input required="" placeholder="First Name" id="account_first_name" name="name"
                               type="text" class="form-control">
                        <label for="account_first_name">First Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input required="" placeholder="Last Name" id="account_last_name" name="nameLast"
                               type="text" class="form-control">
                        <label for="account_last_name">Last Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input required="" placeholder="Email" id="account_email" name="email" type="email"
                               class="form-control">
                        <label for="account_email">Email</label>
                    </div>

                    <div class="input-group-over">
                        <div class="form-floating mb-3">
                            <input required="" placeholder="Password" id="account_password" type="password"
                                   class="form-control" name="password">
                            <label for="account_password">Password</label>
                        </div>
                    </div>

                    <div class="input-group-over">
                        <div class="form-floating mb-3">
                            <input required="" placeholder="Password" id="confirm_password" type="password"
                                   class="form-control" name="confirm">
                            <label for="confirm_password">Password</label>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-primary w-100 fw-medium">
                                Sign Up
                            </button>
                        </div>

                    </div>

                </form>

            </div>

        </div>


    </div>
</div>

{{template "footer.html" .}}
