<!-- Modal -->
<div class="modal fade" id="exampleModalXl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelXl"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title cy">Amodau a Thelerau</h5>
                <h5 class="modal-title en">Terms & Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="en">
                    <p>
                        We have established the following set of API (Application Program Interface) terms of use for
                        all APIs provided by https://api.techiaith.cymru. This framework is essential for maintaining
                        the APIs and for establishing an agreement and understanding of their availability.
                    </p>
                    <p>
                        Any use of an API provided by https://api.techiaith.cymru, including use of an API through a
                        third-party product that accesses this service is bound by these Terms of Service.
                    </p>
                    <h4>Disclaimer</h4>
                    <p>
                        Each API does not come with a warranty or even the implied warranty of fitness for a particular
                        purpose. Each API is provided on an 'as-is' basis and your use of any of our APIs is at your own
                        discretion and risk. You expressly understand and agree that Bangor University shall not be
                        liable for any direct, indirect, incidental, special, consequential or exemplary damages,
                        including but not limited to, damages for loss of profits, goodwill, use, data or other
                        intangible losses (even if Prifysgol Bangor University has been advised of the possibility of
                        such damages), resulting from your use of any API or any third-party products that access data
                        via an API provided by https://api.techiaith.cymru.
                    </p>
                    <h4>Usage</h4>
                    <p>
                        Bangor University sets a limit on the number of requests that can be made to APIs within a
                        certain time window. This is used to manage the load on our servers and prevent any abuse of any
                        API. You must not attempt to work around this limit.
                    </p>
                    <p>
                        You can make requests to APIs with or without an API key. An API key entitles you to additional
                        usage limits and can be provided upon registration. If you have an API key, you will endeavour
                        to keep the API key provided to you secret to reduce the risk of third-party abuse.
                    </p>
                    <p>
                        Abuse or excessively frequent requests to an API with or without an API key may result in the
                        temporary or permanent suspension of access. Bangor University, in its sole discretion, will
                        determine abuse or excessive usage of any API. Bangor University will make a reasonable attempt
                        via email to warn an API key owner prior to suspension.
                    </p>
                    <h4>Attribution</h4>
                    <p>
                        If you use any of the APIs in a solution accessible to members of the public, then you must
                        attribute the use of APIs and provide a link to https://api.techiaith.cymru
                    </p>
                    <h4>Intellectual Property</h4>
                    <p>
                        By agreeing to these terms, you agree you will not use any data received from the API either
                        directly or indirectly to reverse-engineer the API, repackage or otherwise create a similar
                        product, or for any purpose that is directly in competition with this API. This does not cover
                        software already available as open source through Prifysgol Bangor University’s Language
                        Technologies Portal.
                    </p>
                    <h4>Availability</h4>
                    <p>
                        Prifysgol Bangor University cannot guarantee the continuous uninterrupted availability of the
                        API. Bangor University reserves the right, for the purposes of maintenance, to limit and/or
                        restrict the API availability (or any part thereof) at any time with or without notice. It is
                        your responsibility to ensure that your usage copes elegantly with such interruptions to an
                        API’s availabilty.
                    </p>
                    <p>
                        Bangor University will make a reasonable attempt via email to warn the account owner of any
                        scheduled downtime or permanent discontinuation of the API.
                    </p>
                    <h4>Data</h4>
                    <p>
                        Bangor University reserves the right to use the information you send to any API in order to
                        further improve, develop or maintain the API, or for further research work. Bangor University
                        may, at its discretion, share data collected through with select third-parties. It cannot
                        guarantee the anonymity of any data you provide to an API. You should not send any sensitive or
                        confidential data to any of our APIs.
                    </p>
                    <p>
                        As is true of most internet services we gather other information, such as IP addresses, browser
                        type and language, automatically and store it in log files. We use this information to help
                        administer the site as well as to understand and analyze general trends. Except in limited
                        instances to ensure the availability of API services, IP addresses will not be associated with
                        the information sent to the API. We will retain log files for a period of time necessary to
                        prevent or restrict any abuse of the API thus ensuring its availability to all users, unless a
                        longer retention period is required by law. Log files will be deleted by scheduled automatic
                        means using simple file deletion commands.
                    </p>
                    <h4>Modification to These Terms</h4>
                    <p>
                        Bangor University reserves the right to modify these Terms and Conditions at any time. Bangor
                        University will make a reasonable attempt to notify the owners of API keys via email of any
                        modifications to these Terms and Conditions. Your continued usage of an API will indicate your
                        acceptance of any modifications to the Terms and Conditions.
                    </p>
                </div>
                <div class="cy">
                    <p>
                        Rydym wedi sefydlu’r set ganlynol o delerau defnydd API (Application Program Interface) ar gyfer
                        yr holl APIs a ddarperir gan https://api.techiaith.cymru. Mae'r fframwaith hwn yn hanfodol ar
                        gyfer cynnal yr APIs ac ar gyfer sefydlu cytundeb a dealltwriaeth o'u hargaeledd.
                    </p>
                    <p>
                        Mae unrhyw ddefnydd o API a ddarperir gan https://api.techiaith.cymru, gan gynnwys defnyddio API
                        trwy gynnyrch trydydd parti sy'n cyrchu'r gwasanaeth hwn yn rhwym i'r Telerau Gwasanaeth
                        hyn.
                    </p>
                    <h4>Ymwadiad</h4>
                    <p>
                        Nid yw pob API yn dod gyda gwarant na hyd yn oed y warant ymhlyg o addasrwydd at ddiben penodol.
                        Darperir pob API ar sail 'fel y mae' ac mae eich defnydd o unrhyw un o'n APIs yn ôl eich
                        disgresiwn a'ch risg eich hun. Rydych yn deall yn benodol ac yn cytuno na fydd Prifysgol Bangor
                        yn atebol am unrhyw iawndal uniongyrchol, anuniongyrchol, achlysurol, arbennig, canlyniadol neu
                        enghreifftiol, gan gynnwys, ond heb fod yn gyfyngedig i, iawndal am golli elw, ewyllys da,
                        defnydd, data neu golledion anniriaethol eraill (hyd yn oed os yw Prifysgol Bangor wedi cael
                        gwybod am y posibilrwydd o iawndal), sy’n deillio o’ch defnydd o unrhyw API neu unrhyw gynnyrch
                        trydydd parti a ddarperir trwy API neu Gymraeg a ddarperir trwy APItechnoleg https://www.
                    </p>
                    <h4>Defnydd</h4>
                    <p>
                        Mae Prifysgol Bangor yn gosod terfyn ar nifer y ceisiadau y gellir eu gwneud i APIs o fewn
                        cyfnod
                        penodol o amser. Defnyddir hwn i reoli'r llwyth ar ein gweinyddion ac atal unrhyw gamddefnydd o
                        unrhyw API. Ni ddylech geisio gweithio o gwmpas y terfyn hwn.
                    </p>
                    <p>
                        Gallwch wneud ceisiadau i APIs gyda neu heb allwedd API. Mae allwedd API yn rhoi'r hawl i chi
                        gael cyfyngiadau defnydd ychwanegol a gellir ei darparu wrth gofrestru. Os oes gennych allwedd
                        API, byddwch yn ymdrechu i gadw'r allwedd API a ddarparwyd i chi yn gyfrinachol i leihau'r risg
                        o gam-drin trydydd parti.
                    </p>
                    <p>
                        Gall cam-drin neu geisiadau rhy aml i API gyda neu heb allwedd API arwain at atal mynediad dros
                        dro neu'n barhaol. Bydd Prifysgol Bangor, yn ôl ei disgresiwn llwyr, yn pennu camddefnydd neu
                        ddefnydd gormodol o unrhyw API. Bydd Prifysgol Bangor yn gwneud ymdrech resymol trwy e-bost i
                        rybuddio perchennog allwedd API cyn atal dros dro.
                    </p>
                    <h4>Priodoli</h4>
                    <p>
                        Os ydych chi'n defnyddio unrhyw un o'r APIs mewn datrysiad sy'n hygyrch i aelodau'r cyhoedd, yna
                        rhaid i chi briodoli'r defnydd o APIs a darparu dolen i https://api.techiaith.cymru
                    </p>
                    <h4>Eiddo Deallusol</h4>
                    <p>
                        Trwy gytuno i'r telerau hyn, rydych yn cytuno na fyddwch yn defnyddio unrhyw ddata a dderbynnir
                        o'r API naill ai'n uniongyrchol neu'n anuniongyrchol i wrthdroi'r API, ail-becynnu neu greu
                        cynnyrch tebyg fel arall, nac at unrhyw ddiben sy'n cystadlu'n uniongyrchol â'r API hwn. Nid yw
                        hyn yn cynnwys meddalwedd sydd eisoes ar gael fel ffynhonnell agored trwy Borth Technolegau
                        Iaith Prifysgol Bangor.
                    </p>
                    <h4>Argaeledd</h4>
                    <p>
                        Prifysgol Bangor Ni all Prifysgol Bangor warantu bod yr API ar gael yn ddi-dor.Mae Prifysgol
                        Bangor yn cadw'r hawl, at ddibenion cynnal a chadw, i gyfyngu a/neu gyfyngu ar argaeledd API
                        (neu unrhyw ran ohono) ar unrhyw adeg gyda rhybudd neu heb rybudd. Eich cyfrifoldeb chi yw
                        sicrhau bod eich defnydd yn ymdopi'n gain ag ymyriadau o'r fath i argaeledd API.
                    </p>
                    <p>
                        Bydd Prifysgol Bangor yn gwneud ymdrech resymol trwy e-bost i rybuddio perchennog y cyfrif am
                        unrhyw amser segur neu derfyniad parhaol o'r API.
                    </p>
                    <h4>Data</h4>
                    <p>
                        Mae Prifysgol Bangor yn cadw'r hawl i ddefnyddio'r wybodaeth a anfonwch i unrhyw API er mwyn
                        gwella, datblygu neu gynnal yr API ymhellach, neu ar gyfer gwaith ymchwil pellach. Gall
                        Prifysgol Bangor, yn ôl ei disgresiwn, rannu data a gasglwyd gyda thrydydd parti dethol. Ni all
                        warantu anhysbysrwydd unrhyw ddata a roddwch i API. Ni ddylech anfon unrhyw ddata sensitif neu
                        gyfrinachol i unrhyw un o'n APIs.
                    </p>
                    <p>
                        Fel sy'n wir am y rhan fwyaf o wasanaethau rhyngrwyd rydym yn casglu gwybodaeth arall, megis
                        cyfeiriadau IP, math o borwr ac iaith, yn awtomatig a'i storio mewn ffeiliau log. Rydym yn
                        defnyddio'r wybodaeth hon i helpu i weinyddu'r wefan yn ogystal ag i ddeall a dadansoddi
                        tueddiadau cyffredinol. Ac eithrio mewn achosion cyfyngedig i sicrhau bod gwasanaethau API ar
                        gael, ni fydd cyfeiriadau IP yn gysylltiedig â'r wybodaeth a anfonir at yr API. Byddwn yn cadw
                        ffeiliau log am gyfnod o amser sy'n angenrheidiol i atal neu gyfyngu ar unrhyw gamddefnydd o'r
                        API gan sicrhau ei fod ar gael i bob defnyddiwr, oni bai bod angen cyfnod cadw hirach yn ôl y
                        gyfraith. Bydd ffeiliau log yn cael eu dileu trwy ddulliau awtomatig a drefnwyd gan ddefnyddio
                        gorchmynion dileu ffeiliau syml.
                    </p>
                    <h4>Addasiad i'r Telerau hyn</h4>
                    <p>
                        Mae Prifysgol Bangor yn cadw'r hawl i addasu'r Telerau ac Amodau hyn unrhyw bryd. Bydd Prifysgol
                        Bangor yn gwneud ymdrech resymol i hysbysu perchnogion allweddi API drwy e-bost am unrhyw
                        addasiadau i’r Telerau ac Amodau hyn. Bydd eich defnydd parhaus o API yn dangos eich bod yn
                        derbyn unrhyw addasiadau i'r Telerau ac Amodau.
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fi fi-close"></i>
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
